@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}.loginMainDiv {
  background-color: #fafafa;
  height: 100vh;
  width: 100%;
  display: flex;
}

.logoDiv {
  flex: 1; /* 50% width */
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: column;
   
}

.logoDiv img {
  max-width: 40%;
  height: auto;
  display: block;
 position: relative;
  top: -80px; /* moves image upward */

}
.logoDiv .logoText {
 position: relative;
  top: -30px; 
  left: -35px;
  font-size: 30px;    /* adjust size */
  font-weight: 400;  /* optional */
  color: rgb(22, 22, 22);      /* or any color you want */
  font-family: 'Aboreto';
  margin-bottom: 0;
  
}

.logoSubtext {
  color: grey;        /* text color red */
  
  margin-left: 70px;
  font-size: 16px;   /* optional: adjust size */
  font-weight: 500;  /* optional: medium weight */
  text-align: left; /* optional: center text */
margin-bottom: 0px;
  text-align: center;  /* optional: spacing from above element */
}

.logoSubtext2 {
  color: grey;        /* text color red */
  text-align: center;
  left: -40px;
  font-size: 16px;   /* optional: adjust size */
  font-weight: 500;  /* optional: medium weight */
  text-align: left; /* optional: center text */
  margin-top: 0px;   /* optional: spacing from above element */
  margin-left: -90px;
}
.auth-card {
  flex: 1; /* 50% width */
  display: flex;

  ::ng-deep .dx-button-text {
    text-transform: none;
    color: rgba(233, 235, 243, 1);
  }

  .dx-card {
    margin: auto auto;
    margin-right: 120px;
    padding: 28px;
    flex-grow: 0;
    max-width: 450px;
    height: 50%;
    border-radius: 8px;

    &.content {
      height: auto;
      background-color: rgba(255, 255, 255, 0.486);
      border-radius: 25px;
    }

    :host-context(.screen-x-small) & {
      width: 100%;
      height: 100%;
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      border: 0;
      flex-grow: 1;
    }

    .header {
      margin-bottom: 24px;
      margin-top: 35px;

      .title {
        color: rgba(30, 58, 138, 1);
        text-align: center;
        line-height: 24px;
        font-weight: 500;
        font-size: 35px;
      }

      .description {
        color:rgb(253, 253, 253);
        line-height: 16px;
        font-size: 25px;
        margin-top: 20px;
      }
    }

    .btnDiv {
      position: relative;
      border: 1px dotted rgb(255, 255, 255);
    }

    /* Fixed close icon */
    .close-icon {
      position: absolute;
      right: 1px;
      font-size: 20px;
      z-index: 1;
      border: 1px solid black; /* fixed here */
    }
  }
}
