<div>
  <dx-data-grid
    #dataGrid
    [dataSource]="dataSource"

    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [columnAutoWidth]="true"
    [columnFixing]="{ enabled: true }"
    [height]="'80vh'"
    [width]="'100%'"
    (onCellPrepared)="onCellPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
    (onRowPrepared)="onRowPrepared($event)"
  >
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

    <dxo-load-panel
      [enabled]="true"
      [shading]="true"
      [showIndicator]="true"
      [showPane]="false"
    ></dxo-load-panel>
    <dxo-scrolling mode="virtual" [useNative]="false"></dxo-scrolling>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <!-- Toolbar -->
    <dxo-toolbar class="toolBarDiv p-0 m-0">
      <dxi-item location="after" locateInMenu="auto">
        <dx-select-box
          label="insurance"
          labelMode="floating"
          [dataSource]="insuranceList"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="selectedInsurance"
          [searchEnabled]="true"
          [readOnly]="true"
          width="400"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Insurance is required."
            ></dxi-validation-rule>
          </dx-validator>
        </dx-select-box>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>
  <div
    *ngIf="!viewData && Duplication_data"
    style="
      border: 1px solid #b5c3cf;
      padding-left: 10px;
      width: 60%;
      border-radius: 5px;
    "
  >
    <label for="">Manage Duplicated Data</label>

    <dx-radio-group
      [items]="priorities"
      displayExpr="value"
      valueExpr="key"
      [(value)]="selectedPriorityKey"
      layout="horizontal"
    >
    </dx-radio-group>
  </div>
</div>

<div *ngIf="!viewData" class="d-flex justify-content-end gap-2 mt-2">
  <dx-button
    text="Cancel"
    stylingMode="outlined"
    type="normal"
    (onClick)="close()"
  ></dx-button>

  <dx-button
    text="Save"
    stylingMode="contained"
    type="default"
    [disabled]="!selectedInsurance || isSaving"
    (onClick)="onSaveClick()"
  ></dx-button>
</div>

<dx-load-panel
  [(visible)]="isLoading"
  shadingColor="rgba(0,0,0,0.4)"
  [showPane]="true"
  message="Loading ..."
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
