<div>
  <dx-data-grid
    #dataGrid
    [dataSource]="dataSource"
    [columns]="columnData"
    [summary]="summaryColumns"
    [showBorders]="true"
    [height]="'80vh'"
    [width]="'100%'"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [columnFixing]="{ enabled: true }"
    (onExporting)="handleExporting($event)"
    (onCellPrepared)="onCellPrepared($event)"
    (onRowValidating)="onRowValidating($event)"
  >
    <!-- Paging -->
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="false"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

    <!-- Loading panel -->
    <dxo-load-panel
      [enabled]="true"
      [shading]="true"
      [showIndicator]="true"
      [showPane]="false"
    ></dxo-load-panel>

    <!-- Filtering -->
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-scrolling mode="virtual" [useNative]="false"></dxo-scrolling>
    <dxo-export [enabled]="true" [allowExportSelectedData]="false"></dxo-export>

    <dxo-toolbar>
      <dxi-item location="after">
        <dx-select-box
          class="p-0 mt-0"
          [dataSource]="insuranceList"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="selectedInsuranceId"
          label="Insurance"
          labelMode="floating"
          width="300"
          [showClearButton]="true"
          [searchEnabled]="true"
          [readOnly]="true"
        >
        </dx-select-box>
      </dxi-item>

      <dxi-item location="after" *ngIf="fetchedData">
        <dx-select-box
          class="p-0 mt-0"
          [dataSource]="statusOptions"
          [(value)]="selectedStatus"
          label="Status"
          labelMode="floating"
          width="200"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [showClearButton]="true"
          (onValueChanged)="onStatusChange($event)"
        >
        </dx-select-box>
      </dxi-item>

      <dxi-item
        *ngIf="fetchedData"
        location="after"
        name="exportButton"
      ></dxi-item>

      <dxi-item
        *ngIf="fetchedData"
        location="after"
        name="columnChooserButton"
      ></dxi-item>

      <dxi-item location="after" *ngIf="fetchedData">
        <dx-button
          text="Process"
          type="default"
          stylingMode="contained"
          (onClick)="autoProcessPopup = true"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <!-- Column chooser (optional) -->
    <dxo-column-chooser
      [enabled]="true"
      [height]="500"
      mode="select"
      [allowSearch]="true"
    >
    </dxo-column-chooser>

    <!-- <dxo-summary>
      <ng-container *ngFor="let col of columnData">
        <dxi-total-item
          *ngIf="col.dataType === 'number'"
          [column]="col.dataField"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          displayFormat="{0}"
        >
        </dxi-total-item>
      </ng-container>
    </dxo-summary> -->
  </dx-data-grid>
</div>

<div
  *ngIf="!fetchedData"
  class="d-flex justify-content-between align-items-center gap-2 mt-2"
>
  <dx-check-box
    [(value)]="autoProcess"
    [iconSize]="20"
    text="Auto Process"
    (onValueChanged)="onAutoProcessChanged($event)"
  ></dx-check-box>

  <div class="d-flex gap-2">
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      type="normal"
      (onClick)="close()"
    ></dx-button>

    <dx-button
      text="Save"
      stylingMode="contained"
      type="default"
      [disabled]="!selectedInsuranceId || isSaving"
      (onClick)="onSaveClick()"
    ></dx-button>
  </div>
</div>

<!-- ========= Popup for change uniqueKey and process data ========= -->
<dx-popup
  [(visible)]="autoProcessPopup"
  [showCloseButton]="true"
  [width]="600"
  [height]="500"
  title="Process Records"
  (onShown)="onChangeAndProcess()"
  (onHidden)="handlePopupHidden()"
>
  <div *dxTemplate="let data of 'content'" class="p-3 h-100 d-flex flex-column">
    <!-- Section 1: Unique Key + Process -->
    <div class="mb-4">
      <dx-tag-box
        [dataSource]="RA_columns"
        displayExpr="ColumnTitle"
        valueExpr="ColumnID"
        [(value)]="selecteRAuniqueKeys"
        label="RA Unique Key"
        labelMode="floating"
        [showSelectionControls]="true"
        [showClearButton]="true"
        [searchEnabled]="true"
        width="100%"
        (onValueChanged)="RADropdownOnchangeValue($event)"
      >
      </dx-tag-box>
      <div class="mb-3">
        <dx-tag-box
          [dataSource]="hisColumns"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          [(value)]="selecteHISuniqueKeys"
          label="HIS Unique Key"
          labelMode="floating"
          [showSelectionControls]="true"
          [showClearButton]="true"
          [searchEnabled]="true"
          width="100%"
          (onValueChanged)="HISDropdownOnchangeValue($event)"
        >
        </dx-tag-box>
      </div>

      <div class="mt-3 d-flex justify-content-end">
        <dx-button
          text="Change & Process RA"
          type="default"
          stylingMode="contained"
          (onClick)="onChangeAndProcess()"
        ></dx-button>
      </div>
    </div>

    <!-- Section 2: Summary -->
    <div class="border-top pt-3 flex-grow-1">
      <h6>Process Summary</h6>
      <div class="d-flex flex-column gap-2 mt-2">
        <div>
          Total RA Items: <b>{{ totalRaItems }}</b>
        </div>
        <div>
          Processed: <b>{{ totalProcessed }}</b>
        </div>
        <!-- <div>
          Total Pending Process: <b>{{ totalPendingprocessed }}</b>
        </div> -->
        <div>
          Records require manual processed: <b>{{ manualProcess }}</b>
        </div>
        <div>
          Records not matched with Unique Key: <b>{{ notFound }}</b>
        </div>
      </div>
    </div>

    <!-- Bottom Manual Process Button -->
    <div class="mt-3 d-flex justify-content-center">
      <dx-button
        text="Manual Process"
        type="default"
        stylingMode="contained"
        (onClick)="onProcessClick()"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<!-- ========= Popup for process data ========= -->
<dx-popup
  [(visible)]="isProcessPopupVisible"
  [width]="'95vw'"
  [height]="'100vh'"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  title="Process Data"
  (onHidden)="onProcessPopupClosed()"
>
  <div class="h-100 d-flex flex-column">
    <!-- Top Grid -->
    <dx-data-grid
      #raGrid
      [dataSource]="RAGridData"
      [columns]="RAProcessPopUpColumns"
      [showBorders]="true"
      class="mb-1"
      [height]="'50%'"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [paging]="{ enabled: false }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
        allowSelectAll: false
      }"
      [focusedRowEnabled]="false"
      [scrolling]="{ mode: 'virtual' }"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' }
      }"
      (onSelectionChanged)="onRADataRowSelected($event)"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">RA Data</div>
        </dxi-item>

        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Distribute RA',
            icon: '',
            type: 'default',
            stylingMode: 'contained',
            disabled: !isRASelected,
            onClick: distributeRA
          }"
        >
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>

      <dxo-sorting mode="single"></dxo-sorting>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Bottom Grid -->
    <dx-data-grid
      #hisGrid
      [dataSource]="HISGridData"
      [columns]="HISProcessPopUpColumns"
      [showBorders]="true"
      class="flex-grow"
      [height]="'45%'"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [paging]="{ enabled: false }"
      [focusedRowEnabled]="true"
      [scrolling]="{ mode: 'virtual' }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
        allowSelectAll: false
      }"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' }
      }"
      (onSelectionChanged)="onHISRowSelected($event)"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">Claim Data</div>
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>
      <dxo-sorting mode="single"></dxo-sorting>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Footer Button -->
    <div class="d-flex justify-content-end mt-3">
      <dx-button
        text="Process"
        type="default"
        stylingMode="contained"
        (onClick)="onSubmitProcess()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
<!-- ========= Distribute RA popup ========= -->
<dx-popup
  [(visible)]="isDistributePopupVisible"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Distribute RA and Match"
  [showCloseButton]="true"
  (onHiding)="clearDistributePopup()"
>
  <div class="m-0 p-0 h-100 d-flex flex-column">
    <!-- RA Data Grid -->
    <dx-data-grid
      class="mb-3"
      [dataSource]="[selectedRARow]"
      [columns]="RAProcessPopUpColumns"
      [showBorders]="true"
      [height]="'25%'"
      [columnAutoWidth]="true"
      [selection]="{ mode: 'single' }"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      keyExpr="UNIQUE_KEY"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">RA Data</div>
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>

      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Middle Claim Data -->
    <dx-data-grid
      #distributeGrid
      [dataSource]="DistributeHISGridData"
      [columns]="DistributeHISColumns"
      [showBorders]="true"
      [height]="'60%'"
      [columnAutoWidth]="true"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [editing]="{ mode: 'cell', allowUpdating: true }"
      [selection]="{ mode: 'multiple', showCheckBoxesMode: 'always' }"
      (onSelectionChanged)="onDistributeSelectionChanged($event)"
      (onEditingStart)="ondistributionHISgridEditingStart($event)"
      [allowColumnResizing]="true"
      [allowColumnReordering]="true"
    >
      <dxo-filter-row [visible]="isFilterRowVisible"></dxo-filter-row>

      <dxo-paging [pageSize]="0"></dxo-paging>

      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">Claim Data</div>
        </dxi-item>

        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            icon: isFilterRowVisible ? 'filter' : 'filter',
            hint: isFilterRowVisible ? 'Hide Filter Row' : 'Show Filter Row',
            onClick: toggleFilterRow,
            stylingMode: 'text',
            elementAttr: { class: 'commonButtons' }
          }"
        ></dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>

      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>

      <dxo-summary>
        <ng-container *ngFor="let col of DistributeHISColumns">
          <dxi-total-item
            *ngIf="col.dataType === 'number'"
            [column]="col.dataField"
            summaryType="sum"
            [valueFormat]="'#,##0.00'"
            displayFormat="Total: {0}"
          >
          </dxi-total-item>
        </ng-container>
      </dxo-summary>
    </dx-data-grid>

    <div
      class="d-flex align-items-center border-top pt-3 mb-2 flex-nowrap gap-4"
    >
      <div class="ms-auto me-5">
        <dx-text-box
          [value]="totalSelected"
          label="Total Selected"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>

      <div class="ms-auto d-flex flex-nowrap gap-1 me-4">
        <dx-text-box
          [value]="getSelectedTotal('GROSS_CLAIMED')"
          label="Gross Claimed"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSelectedTotal('NET_AMOUNT1')"
          label="Net Claimed"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>

      <div class="ms-auto d-flex flex-nowrap gap-1">
        <dx-text-box
          [value]="getSelectedTotal('OverBillingAmount')"
          label="Over Billing"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('AuditingRejectedAmount')"
          label="Rejected"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSelectedTotal('DISCOUNT')"
          label="Discount"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('Co-PayandDeductible')"
          label="Co-Pay"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('NetPayable')"
          label="Net Payable"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>
    </div>

    <!-- Buttons Row at Bottom Right Distribute RA Match  -->
    <div class="d-flex justify-content-end mt-1 gap-3">
      <dx-button
        text="Cancel"
        type="danger"
        stylingMode="contained"
        (onClick)="clearDistributePopup()"
      ></dx-button>
      <dx-button
        text="Process "
        type="default"
        stylingMode="contained"
        (onClick)="onSubmitDistributeRA()"
        class="me-2"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<dx-load-panel
  [(visible)]="isLoading"
  shadingColor="rgba(0,0,0,0.4)"
  [showPane]="true"
  message="Loading..."
  [closeOnOutsideClick]="false"
>
</dx-load-panel>

<dx-load-panel
  [(visible)]="isLoadingManualProcess"
  shadingColor="rgba(0,0,0,0.4)"
  [showPane]="true"
  message="Processing..."
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
