// ::ng-deep .dx-datagrid .dx-bordered-bottom-view,
// .dx-datagrid-container .dx-bordered-bottom-view {
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
//   display: none;
// }
