<div>
  <div class="mb-2 d-flex justify-content-end gap-2">
    <dx-select-box
      class="p-0"
      [dataSource]="insuranceList"
      displayExpr="DESCRIPTION"
      valueExpr="ID"
      [(value)]="selectedInsuranceId"
      label="Insurance"
      labelMode="floating"
      width="400"
      [showClearButton]="true"
      [searchEnabled]="true"
      [readOnly]="true"
    >
    </dx-select-box>

    <dx-select-box
      *ngIf="viewData"
      [dataSource]="statusOptions"
      [(value)]="selectedStatus"
      label="Status"
      labelMode="floating"
      width="200"
      displayExpr="DESCRIPTION"
      valueExpr="ID"
      [showClearButton]="true"
      (onValueChanged)="onStatusChange($event)"
    >
    </dx-select-box>

    <dx-button
      class="mt-2"
      *ngIf="viewData"
      text="Process"
      type="default"
      stylingMode="contained"
      (onClick)="onProcessClick()"
    ></dx-button>
  </div>

  <dx-data-grid
    #dataGrid
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    [columnAutoWidth]="true"
    [columnFixing]="{ enabled: true }"
    [height]="'80vh'"
    [width]="'100%'"
    [rowAlternationEnabled]="true"
    [dataSource]="dataSource"
    [columns]="columnData"
  >
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="false"
      [showInfo]="true"
      [showNavigationButtons]="true"
    ></dxo-pager>

    <dxo-load-panel
      [enabled]="true"
      [shading]="true"
      [showIndicator]="true"
      [showPane]="false"
    ></dxo-load-panel>
    <dxo-scrolling mode="virtual" [useNative]="false"></dxo-scrolling>
  </dx-data-grid>
</div>

<div
  *ngIf="!viewData"
  class="d-flex justify-content-between align-items-center gap-2 mt-2"
>
  <dx-check-box
    [(value)]="autoProcess"
    [iconSize]="20"
    text="Auto Process"
  ></dx-check-box>

  <div class="d-flex gap-2">
    <dx-button
      text="Cancel"
      stylingMode="outlined"
      type="normal"
      (onClick)="close()"
    ></dx-button>

    <dx-button
      text="Save"
      stylingMode="contained"
      type="default"
      [disabled]="!selectedInsuranceId || isSaving"
      (onClick)="onSaveClick()"
    ></dx-button>
  </div>
</div>

<!-- ========= Popup for process data ========= -->
<dx-popup
  [(visible)]="isProcessPopupVisible"
  [width]="'95vw'"
  [height]="'100vh'"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  title="Process Data"
  (onHidden)="onProcessPopupClosed()"
>
  <div class="h-100 d-flex flex-column">
    <!-- Top Grid -->
    <dx-data-grid
      #raGrid
      [dataSource]="RAGridData"
      [columns]="RAProcessPopUpColumns"
      [showBorders]="true"
      class="mb-1"
      [height]="'50%'"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [paging]="{ enabled: false }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
        allowSelectAll: false
      }"
      [focusedRowEnabled]="false"
      [columnAutoWidth]="true"
      [scrolling]="{ mode: 'virtual' }"
      [allowColumnReordering]="true"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' }
      }"
      (onSelectionChanged)="onRADataRowSelected($event)"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">RA Data</div>
        </dxi-item>

        <dxi-item
          location="after"
          widget="dxButton"
          [options]="{
            text: 'Distribute RA',
            icon: '',
            type: 'default',
            stylingMode: 'contained',
            disabled: !isRASelected,
            onClick: distributeRA
          }"
        >
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>

      <dxo-sorting mode="single"></dxo-sorting>
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Bottom Grid -->
    <dx-data-grid
      #hisGrid
      [dataSource]="HISGridData"
      [columns]="HISProcessPopUpColumns"
      [showBorders]="true"
      class="flex-grow"
      [height]="'45%'"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [paging]="{ enabled: false }"
      [focusedRowEnabled]="true"
      [columnAutoWidth]="true"
      [scrolling]="{ mode: 'virtual' }"
      [selection]="{
        mode: 'multiple',
        showCheckBoxesMode: 'always',
        allowSelectAll: false
      }"
      [allowColumnReordering]="true"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' }
      }"
      (onSelectionChanged)="onHISRowSelected($event)"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">Claim Data</div>
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>
      <dxo-sorting mode="single"></dxo-sorting>
      <dxo-filter-row [visible]="false"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Footer Button -->
    <div class="d-flex justify-content-end mt-3">
      <dx-button
        text="Process"
        type="default"
        stylingMode="contained"
        (onClick)="onSubmitProcess()"
      ></dx-button>
    </div>
  </div>
</dx-popup>
<!-- ========= Distribute RA popup ========= -->
<dx-popup
  [(visible)]="isDistributePopupVisible"
  [width]="'95vw'"
  [height]="'100vh'"
  title="Distribute RA and Match"
  [showCloseButton]="true"
  (onHiding)="clearDistributePopup()"
>
  <div class="h-100 d-flex flex-column">
    <!-- Top RA Row -->
    <dx-data-grid
      class="mb-3"
      [dataSource]="[selectedRARow]"
      [columns]="RAProcessPopUpColumns"
      [showBorders]="true"
      [height]="'20%'"
      [columnAutoWidth]="true"
      [selection]="{ mode: 'single' }"
      [focusedRowEnabled]="true"
      [focusedRowIndex]="0"
      keyExpr="UNIQUE_KEY"
    >
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">RA Data</div>
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
    </dx-data-grid>

    <!-- Middle Claim Data -->
    <dx-data-grid
      #distributeGrid
      [dataSource]="DistributeHISGridData"
      [columns]="DistributeHISColumns"
      [showBorders]="true"
      [height]="'65%'"
      [columnAutoWidth]="true"
      [keyExpr]="'ID'"
      [rowAlternationEnabled]="true"
      [editing]="{ mode: 'cell', allowUpdating: true }"
      [selection]="{ mode: 'multiple', showCheckBoxesMode: 'always' }"
      (onSelectionChanged)="onDistributeSelectionChanged($event)"
      (onEditingStart)="ondistributionHISgridEditingStart($event)"
    >
      <dxo-paging [pageSize]="0"></dxo-paging>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header h5 fw-bold border-bottom">Claim Data</div>
        </dxi-item>

        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      </dxo-toolbar>
      <dxo-column-chooser
        [height]="500"
        hideOnOutsideClick="true"
        [enabled]="true"
        mode="select"
      >
      </dxo-column-chooser>
      <dxo-summary>
        <ng-container *ngFor="let col of DistributeHISColumns">
          <dxi-total-item
            *ngIf="col.dataType === 'number'"
            [column]="col.dataField"
            summaryType="sum"
            [valueFormat]="'#,##0.00'"
            displayFormat="Total: {0}"
          >
          </dxi-total-item>
        </ng-container>
      </dxo-summary>
    </dx-data-grid>

    <div
      class="d-flex align-items-center border-top pt-3 mb-2 flex-nowrap gap-4"
    >
      <div class="ms-auto me-5">
        <dx-text-box
          [value]="totalSelected"
          label="Total Selected"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>

      <div class="ms-auto d-flex flex-nowrap gap-1 me-4">
        <dx-text-box
          [value]="getSelectedTotal('GROSS_AMOUNT')"
          label="Gross Claimed"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSelectedTotal('NET_AMOUNT1')"
          label="Net Claimed"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>

      <div class="ms-auto d-flex flex-nowrap gap-1">
        <dx-text-box
          [value]="getSelectedTotal('OverBillingAmount')"
          label="Over Billing"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('AuditingRejectedAmount')"
          label="Rejected"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSelectedTotal('DISCOUNT')"
          label="Discount"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('Co-PayandDeductible')"
          label="Co-Pay"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
        <dx-text-box
          [value]="getSummaryAmount('NetPayable')"
          label="Net Payable"
          labelMode="floating"
          [readOnly]="true"
          width="130"
        ></dx-text-box>
      </div>
    </div>

    <!-- Buttons Row at Bottom Right -->
    <div class="d-flex justify-content-end mt-1 gap-3">
      <dx-button
        text="Cancel"
        type="danger"
        stylingMode="contained"
        (onClick)="clearDistributePopup()"
      ></dx-button>
      <dx-button
        text="Process"
        type="default"
        stylingMode="contained"
        (onClick)="onSubmitDistributeRA()"
        class="me-2"
      ></dx-button>
    </div>
  </div>
</dx-popup>

<dx-load-panel
  [(visible)]="isLoading"
  shadingColor="rgba(0,0,0,0.4)"
  [showPane]="true"
  message="Processing..."
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
