@use "../../../../variables.scss" as *;

.login-form {
  width: 400px;
  height: 300px;
  margin-top: 30px;
  ::ng-deep .form-text {
    color: var(--base-text-color-alpha);
  }
}

.reset-link {
  text-align: end;
  /* font-size: 12px; */
  color: rgba(30, 58, 138, 1);
margin-top: -10px;
  // margin: 6px 0 50px 0;

   

  a {
    cursor: pointer;
    color: rgba(30, 58, 138, 1);
  }
}

::ng-deep .login-form .dx-button.dx-button-default {
  border-radius: 100px;
  background-color: rgba(30, 58, 138, 1);
  // margin-top: 10px;
  
}
.dx-button .fas.fa-user {
  font-size: 24px;   // change size
  color:rgba(30, 58, 138, 1);    // change color
}

::ng-deep .dx-button.dx-state-disabled .dx-icon{
  color:rgba(30, 58, 138, 1);    // change color
}
