::ng-deep .form-popup .dx-toolbar-center {
  width: 100%;
}

.form-popup-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--popup-toolbar-item-spacing);
  margin-top: 10px;
  //  background-color: rgba(30, 58, 138, 1) !important;
  // padding-bottom: 5px;
  // position: absolute;
  // right: 15px;
  // bottom: 5px;
  // top: 10px;

  &.flex-buttons {
    &::ng-deep .dx-button {
      flex: 1;
    }
  }
}
